.todo_list {
  width: 60%;
  height: 200px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.todo_list input {
  width: 50%;
  padding-left: 10px;
  border-radius: 5px;
  height: 30px;
}
.todo_list button {
  background-color: gray;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  color: white;
  border-color: white;
}

.list {
  width: 60%;
  margin: auto;
}
.element{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.text{
  width: 70%;
  align-self: center;
}
.lineTh{
  width: 70%;
  align-self: center;
  text-decoration: line-through;
}
.btn-done{
width: 80px;
height: 35px;
background-color: green;
color: white;
border-radius: 5px;
border-color: white;
}
.btn-delete{
  width: 80px;
  height: 35px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border-color: white; 
}
